{% extends 'rango/base.html' %}

{% block title_block %}
    Rango
{% endblock %}
{% block body_block %}
    {% if page %}
        <div class="jumbotron p-4">
            <div class="container">
                <h1 class="jumbotron-heading">{{ page.title }}</h1>
            </div>
        </div>
{#        <h1>{{ page.title }}</h1>#}
        <ul>
            <li>Page views: {{ page.views }}</li>
        </ul>
    {% else %}
        The specified page does not exist.
    {% endif %}
{% endblock %}

